---
name: CI

on:  # yamllint disable-line rule:truthy
  # Trigger CI at key points in the PR process
  pull_request:
    types:
      - opened
      - ready_for_review
      - review_requested

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1.270.0
        with:
          ruby-version: 3.3.5
          bundler-cache: true

      - name: Lint code for consistent style
        run: bin/rubocop -f github

  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: pgvector/pgvector:pg16
        env:
          POSTGRES_DB: rails_test
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    env:
      CI: true
      DATABASE_URL: "postgres://rails:password@localhost:5432/rails_test"
      RAILS_ENV: test
      RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y google-chrome-stable curl
        # libjemalloc2

      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1.270.0
        with:
          ruby-version: 3.3.5
          bundler-cache: true

      - name: Prepare the database
        run: bin/rails db:setup

      - name: Run tests
        env:
          RAILS_ENV: test
          # REDIS_URL: redis://localhost:6379/0
        run: bin/test

      - name: Keep screenshots from failed system tests
        uses: actions/upload-artifact@v6.0.0
        if: failure()
        with:
          name: screenshots
          path: ${{ github.workspace }}/tmp/screenshots
          if-no-files-found: ignore
