---
name: "Inclusive Language"
on: push  # yamllint disable-line rule:truthy

permissions: read-all

jobs:
  test_inclusivity:
    name: Inclusive Language Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: lts/*
      - name: Run alex
        run: npx alex --why
